<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:targetApi="31">

        <activity
            android:name=".main.addListPage.category.CategoryExpendsActivity"
            android:exported="false" />
        <activity
            android:name=".main.addListPage.category.CategoryIncomeActivity"
            android:exported="false" />
        <activity
            android:name=".main.profile.security.PasswordAndSecurityActivity"
            android:configChanges="orientation"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".main.profile.security.SubmitPinActivity"
            android:configChanges="orientation"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".main.addListPage.calculator.CalculatorActivity"
            android:configChanges="orientation"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".main.addListPage.AddListScreenActivity"
            android:configChanges="orientation"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateUnchanged|adjustNothing"
            />
        <activity
            android:name=".login.forgotPassword.ConfirmResetPincodeActivity"
            android:configChanges="orientation"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".login.forgotPassword.ResetPinCodeActivity"
            android:configChanges="orientation"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".login.forgotPassword.ForgotPasswordActivity"
            android:configChanges="orientation"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".login.createPincode.ConfirmPincodeActivity"
            android:configChanges="orientation"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".login.enterPincode.EnterPinCodeActivity"
            android:configChanges="orientation"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".main.homeScreen.HomeActivity"
            android:configChanges="orientation"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".login.NameInput.NameInputActivity"
            android:configChanges="orientation"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".login.createPincode.CreatePinActivity"
            android:configChanges="orientation"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".login.otpScreen.OtpScreenActivity"
            android:configChanges="orientation"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".login.loginScreen.LoginActivity"
            android:configChanges="orientation"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".view.MainActivity"
            android:configChanges="orientation"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".splashScreen.SplashScreenActivity"
            android:configChanges="orientation"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>